
body{
    background-image: linear-gradient(135deg,#294d61,#6da5c0,#0f969c,#0c7075,#072e33,#05161a);
    font-family: 'Raleway', sans-serif;


}


h1 {

    padding:10px 10px 10px 10px;
    margin: 0px;
    margin-top: 100px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 80px;
    color:#fffafc;
    background:none;
}


h2{
     padding:10px 10px 10px 10px;
    margin: 0px;
    margin-top: 0px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 15px;
    color:#fffafc;
    background:none;
}

p {
    margin:0px;
    padding: 10px 0px 10px 0px;
    font-size: 15px;
    color:#fffafc;
    font-style: italic;
    
}
#social{
    padding: 10px ;
    height: 50px;
    width: auto;
    margin: 10px 10px 0px 10px ;
    color: #05161a;
    

}
#dato{
   
    list-style-type: none;
    padding: 40px 0px 10px 0px;
    padding: 10px;
    height: auto;
    width: 360px;
    margin: 10px;
    color: #fffafc;
}

    

.icon i{
    background:none;
    color:#fffafc;
    font-size: 20px;
    padding: 5px;
 }
 .icon1 i{
    background:none;
    color:#fffafc;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
 }
 .icon2 i{
    background:none;
    color:#fffafc;
    font-size: 20px;
    padding: 5px;
 }
 .icon3 i{
    background:none;
    color:#fffafc;
    font-size: 20px;
    padding: 5px;
 }

button {
 background: none;
 border: none;

 }
